.EnsemblePreviwPostInfoInstrumentDefault {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.EnsemblePreviwPostInfoInstrumentDefault div {
    display: flex;
    align-items: center;
}