.errorDefault {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15% 0;
}

@media screen and (max-width: 428px) {
    .errorDefault {
        margin: 25% 0;
    }
}