.headerNavigationDefault {
    display: flex;
    align-items: center;
}

.headerNavigationDefault label:hover {
    cursor: pointer;
    text-decoration: underline;
}

.headerNavigationDefault nav a {
    margin-right: 30px;
}

@media screen and (max-width: 428px) {
    .headerNavigationDefault {
        flex-direction: column;
        width: 100%;
        margin: 25px 0 10px 0;
    }

    .headerNavigationDefault a {
        width: 100%;
    }

    .headerNavigationDefault nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;
    }

    .headerNavigationDefault button {
        width: 100%;
    }

    .headerNavigationDefault nav a {
        display: flex;
        justify-content: center;
        margin: 0 0 12px 0;
    }
}