.addEnsemblePostDefault {
    display: flex;
    justify-content: center;
    padding: 75px 0;
    background-color: #F9F9F9;
}

.addEnsemblePostDefault div {
    width: 398px;
}

.addEnsemblePostDefault button {
    width: fit-content;
    margin-bottom: 25px;
}

.addEnsemblePostDefault div h1 {
    margin-bottom: 30px;
}

.addEnsemblePostDefault div a {
    color: #777777;
}

@media screen and (max-width: 428px) {   
    .addEnsemblePostDefault {
        padding: 60px 15px;
        background-color: #F9F9F9;
    }
    
    .addEnsemblePostDefault div {
        width: 100%;
    }
    
    .addEnsemblePostDefault div h1 {
        margin-bottom: 45px;
    }
}