.profileChangePasswordFormDefault {
    display: flex;
    flex-direction: column;
}

.profileChangePasswordFormDefault input {
    margin: 15px 0;
}

.profileChangePasswordFormDefault button {
    width: 100% !important;
    margin-top: 15px;
}