.musicianInstrumentInfoDefault {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -5px;
}

.musicianInstrumentInfoDefault div {
    display: flex;
    align-items: center;
}

.musicianInstrumentInfoDefault label {
    margin-bottom: 0 !important;
}